<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.mapper.EmpMenuMapper">

    <resultMap id="BaseResultMap" type="com.rs.domain.EmpMenu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="eId" column="e_id" jdbcType="INTEGER"/>
            <result property="mId" column="m_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,e_id,m_id
    </sql>
    <insert id="insertBatch">
        INSERT INTO emp_menu (e_id,m_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.eId},#{item.mId})
        </foreach>
    </insert>
    <select id="selectRoleList" resultType="java.lang.String">
        SELECT m_sign
        FROM menu m
                 JOIN emp_menu em ON m.m_id = em.m_id
        WHERE em.e_id = #{eId}
    </select>
</mapper>
